.App {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  padding: 50px;
  opacity: 0.95;
  border-radius: 20px;
}

.App .Header {
  padding: 50px;
}

.form {
  padding: 10px;
  justify-content: center;
}

.form label {
  padding-right: 10px;
  font-weight: 500;
}

.form #textbox {
  margin: 30px 20px 20px;
  padding: 15px;
}

.form button {
  margin: 15px;
}

#save {
  background-color: rgb(42, 190, 42);
  color: white;
}


